.container {
  display: flex;
  width: 360px;
  height: 720px;
  justify-content: center;
  padding: 24px 24px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 24px;

  width: 100%;
  max-width: 700px;
}

.content h1 {
  font-size: 60px;
  text-align: center;

}

.button {

  flex-grow: 1;
  padding: 10px;
  background: var(--secondary);
}

.logo {
  filter: drop-shadow(3px 3px 10px rgb(238, 97, 2));
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button1 {
  flex-grow: 1;
  padding: 10px;
  background: var(--secondary);
  width: 100px;
}

.chic {
  position: absolute;
  top: 80%;
  left: 50%;
  height: 80px;
  width: 80px;
  background: #FFFFFF;
  border-radius: 50%;
}

.chic:active {
  transform: scale(0.8);
}

.camera {
  width: 360px;
  height: 720px;
  margin: 0 auto;
  object-fit: cover;



}